.layer2{
    position:relative;
    Z-index: 2;
}

body{
    margin: 0%;
    padding: 0%;
}

.mobile {
    display: none !important;
  }
  
  @media (max-width: 800px) {
    .mobile {
      display: inline !important;
    }
  
    .desktop {
      display: none !important;
    }
  }